<section class="slider">
    <owl-carousel [options]="carouselOptions" [items]="slides" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let slide of slides;let i= index">
            <div class="image" [style.backgroundImage]="'url('+ slide.image +')'"></div>
        </div>
    </owl-carousel>
    <div class="wrap">
        <div class="container-fluid">
            <form class="offset-1 offset-md-2 col-9 col-sm-9 col-md-5 col-lg-3 h-100">
                form
            </form>
        </div>
    </div>
</section>
<section class="container-fluid bg-yellow2">
    <div class="row justify-content-center">
        <div class="col-8 col-sm-7 col-md-5 col-lg-3 col-xl-2">
            <h2 class="text-blue pt-4 pb-4">
                <b>Simplifique</b> sua busca por um emprego novo!
            </h2>
            <p class="pb-2 text-gray3">
                Você tem acesso à <b>todas as vagas</b> do site <b>envio ilimitado</b> de currículo.
            </p>
        </div>
    </div>
</section>