@import "../../advertise.component.scss";

.slider {
    position: relative;
    .wrap {
        form {
            background: rgba(255,152,34,1);
            background: -moz-linear-gradient(top, rgba(255,152,34,1) 0%, rgba(255,204,94,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,152,34,1)), color-stop(100%, rgba(255,204,94,1)));
            background: -webkit-linear-gradient(top, rgba(255,152,34,1) 0%, rgba(255,204,94,1) 100%);
            background: -o-linear-gradient(top, rgba(255,152,34,1) 0%, rgba(255,204,94,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,152,34,1) 0%, rgba(255,204,94,1) 100%);
            background: linear-gradient(to bottom, rgba(255,152,34,1) 0%, rgba(255,204,94,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9822', endColorstr='#ffcc5e', GradientType=0 );

            position: absolute;
            top: 0;
            z-index: 1;
            color: white;
            padding: 25px 35px;
            opacity: 0.95;

            .form-control {
                padding: 5px 18px;
                font-size: 14px;
                color: #001C49;
                border: 0;
                margin: 21px 0;
                border-radius: 30px;
                height: 50px;
            }
        }
    }
    .owl-item {
        .item {
            .image {
                background-position: center;
                height: 500px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
