<footer class="container-fluid bg-gray2">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-5 col-lg-3">
            <p class="small text-justify pt-5">
                <b>Importante: </b>*A Promoção de 7 Dias Sem Custo é válida apenas para os primeiros cadastro no site empregos.com.br exceto a reativação da assinatura ocorra após 1 ano do cancelamento. Para participar desta oferta é necessário reativar a assinatura no site Empregos.com.br e escolher um plano e uma forma de pagamento. Voce não será cobrado caso realize o cancelamento até o 7° dia corrido, contado a partir do dia seguinte da adesão à promoção.
            </p>
            <hr>
            <p class="small text-center pb-2 ml-5 mr-5">
                Copyright &#9400; 1998-{{year}} Empregos.com.br. <br>
                Todos os diretos reservados.
            </p>
        </div>
    </div>
</footer>
<nav class="navbar fixed-bottom navbar-light bg-blue">
    <a class="navbar-brand mx-auto" href="#">Experimentar por 7 dias</a>
</nav>