@import "./advertise.variables.scss" ;

* {
    font-family: 'Roboto', sans-serif;
}
.bg-orange {
    background-color: $orange;
}
.bg-blue {
    background-color: $blue;
}
.bg-yellow1 {
    background-color: $yellow1;
}
.bg-yellow2 {
    background-color: $yellow2;
}
.bg-gray1 {
    background-color: $gray1;
}
.bg-gray2 {
    background-color: $gray2;
}

.text-blue {
    color: $blue;
    font-family: 'Lato', sans-serif;
}
.text-gray3 {
    color: $gray3;    
}
.btn-advertise {
    background-color: $blue;
    border: $blue;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    transition: all 0.3s ease;
}