@import "./advertise.variables.scss" ;

.bg-orange {
    background-color: $orange;
}
.bg-blue {
    background-color: $blue;
}
.bg-yellow1 {
    background-color: $yellow1;
}
.bg-yellow2 {
    background-color: $yellow2;
}
.bg-gray1 {
    background-color: $gray1;
}
.bg-gray2 {
    background-color: $gray2;
}

.text-blue {
    color: $blue;    
}
.text-gray3 {
    color: $gray3;    
}